$primary-color-dark: #1976D2;
$primary-color: #2196F3;
$primary-color-light: #BBDEFB;
$primary-color-text: #FFFFFF;
$accent-color: #FF4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

md-sidenav {
    width: 260px;
}

md-nav-bar {
    height: 49px;
    width: 100%;
}

.content-container {
    width: 100%;
}

md-toolbar .md-menu.nav-toolbar-menu {
    margin: auto 0;
}

.md-whiteframe-3dp,
.md-whiteframe-3dp > * {
    background-color: white;
}