<md-card>
    <img ng-src="images/code_snippet.png" class="md-card-image" alt="Blurred Code">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Links</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row">
        <p>Get in contact with me, or have a look at my previous works!</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center" layout-fill>
        <a target="_blank" href="https://www.github.com/Gustash">
            <md-button class="md-icon-button" aria-label="GitHub">
                <md-icon class="symbol">githubalt</md-icon>
            </md-button>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/gustavo-parreira-a6647810b/">
            <md-button class="md-icon-button" aria-label="LinkedIn">
                <md-icon class="symbol">linkedin</md-icon>
            </md-button>
        </a>
        <a href="skype:gugasparreira1997?chat">
            <md-button class="md-icon-button" aria-label="Skype">
                <md-icon class="symbol">skype</md-icon>
            </md-button>
        </a>
        <a href="mailto:gustavotcparreira@gmail.com">
            <md-button class="md-icon-button" aria-label="Email">
                <md-icon class="symbol">email</md-icon>
            </md-button>
        </a>
    </md-card-actions>
</md-card>