<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gustavo Parreira</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"
            asp-fallback-src="~/lib/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css" 
            asp-fallback-href="~/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"
            asp-fallback-href="~/css/material-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"
            asp-fallback-href="~/css/roboto.min.css" />
    <link rel="stylesheet" href="~/lib/monosocialiconsfont/monosocialiconsfont.css" />
</head>
<body ng-app="MainApp" layout="column" ng-cloak>
    <div ng-controller="AppCtrl" class="content-container" layout="column" flex>
        <md-toolbar class="md-theme-indigo" md-whiteframe="4">
            <div layout="row" layout-align="start center" flex>
                <md-button ng-click="toggleSidenav()" class="md-icon-button" aria-label="Open sample menu">
                    <md-icon>menu</md-icon>
                </md-button>
                <h1 class="md-toolbar-tools" layout-fill>Gustavo Parreira</h1>
                <md-button ng-click="toggleRightnav()" class="md-icon-button" aria-label="Open sample menu" hide-gt-md>
                    <md-icon>info</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="row">
            <div layout="column">
                <md-sidenav class="md-sidenav-left"
                            layout-fill
                            md-component-id="sidenav"
                            md-is-locked-open="$mdMedia('gt-sm')"
                            md-whiteframe="4">
                    <md-toolbar class="md-theme-indigo" md-whiteframe="4" hide-gt-sm></md-toolbar>
                    <md-content layout-padding>
                        @if (ViewData["Categories"] != null)
                        {
                            <div layout="column">
                                @foreach (Category category in ViewData["Categories"] as List<Category>)
                                {
                                    <p>@category.Title</p>
                                }
                            </div>
                        }
                    </md-content>
                </md-sidenav>
            </div>

            <div flex>
                <md-content class="md-padding">
                    @RenderBody()
                </md-content>
            </div>

            <md-sidenav class="md-sidenav-right"
                        md-component-id="sidenav-info"
                        md-whiteframe="4"
                        hide-gt-md>
                <md-toolbar class="md-theme-indigo" md-whiteframe="4"></md-toolbar>
                <md-content layout="column">
                    @{ Html.RenderPartial("_InfoSidenav"); }
                </md-content>
            </md-sidenav>
        </div>

        @*<footer>
            <md-toolbar>
                Footer
            </md-toolbar>
        </footer>*@
    </div>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"
            asp-fallback-src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"
            asp-fallback-src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"
            asp-fallback-src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"
            asp-fallback-src="~/lib/angular-material/angular-material.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
