<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gustavo Parreira</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"
            asp-fallback-src="~/lib/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css" 
            asp-fallback-href="~/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"
            asp-fallback-href="~/css/material-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"
            asp-fallback-href="~/css/roboto.min.css">
</head>
<body ng-app="MainApp" layout-fill layout="column" ng-cloak>
    <div ng-controller="AppCtrl" layout="row" flex>
        <md-sidenav class="md-sidenav-left"
                    md-component-id="sidenav"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Gustavo Parreira</h1>
            </md-toolbar>
            <md-content layout-padding>
                <p>
                    This is where the page links will appear.
                </p>
            </md-content>

        </md-sidenav>

        <div layout="column" class="content-container">
            <md-toolbar class="md-theme-indigo" layout="row">
                <md-menu hide-gt-sm layout="row" layout-align="start center" class="nav-toolbar-menu">
                    <!-- Trigger element is a md-button with an icon -->
                    <md-button ng-click="toggleSidenav()" class="md-icon-button" aria-label="Open sample menu">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item><md-button ng-click="alert('Hello!')">Do Something</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-toolbar>

            <md-content class="md-padding">
                @RenderBody()
            </md-content>
        </div>
    </div>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"
            asp-fallback-src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"
            asp-fallback-src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"
            asp-fallback-src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"
            asp-fallback-src="~/lib/angular-material/angular-material.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
