@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div layout-gt-md="row" layout-gt-xs="column">
    <div md-whiteframe="3" layout-margin>
        <md-content layout-padding flex-gt-md="70">
            <p class="md-display-1">
                Lorem justo nonumy elitr consetetur no at sed vero sed
            </p>
            <p class="md-body-1">
                Commodo eos dolor labore suscipit sea vulputate et vulputate at lorem clita ut ipsum odio facilisis voluptua nisl rebum tempor erat nonumy ipsum lorem blandit rebum est nonumy rebum lobortis aliquyam amet nulla nonumy duo hendrerit erat in accusam dolores ipsum illum dolor ea amet sea lorem sadipscing tempor no kasd elitr nonumy rebum dolor ullamcorper sit ut amet elitr ipsum invidunt duo dolore sit ipsum diam sit lobortis sed et vel amet ipsum nonumy rebum veniam tempor et id rebum clita justo sanctus consequat aliquam sanctus sadipscing ut no gubergren erat at quis stet iriure feugiat rebum facilisi nulla
            </p>
        </md-content>
    </div>
    <div md-whiteframe="3" layout-margin>
        <md-content layout-padding flex layout-margin>
            <p class="md-display-1">
                TODO: Get data from ViewData["Categories"]
            </p>
            <p class="md-body-1">
                Ipsum no sit ipsum sanctus diam dolores stet nisl sed nihil eum autem te lorem nisl erat et et consetetur
            </p>
        </md-content>
    </div>
    </div>